/* Variables */

// colors

$backgroundColor: #ece5e5; // Very light gray for background
$textColor: #333333; // Dark gray for text
$greenColor: #596e4e; // Main green color
$buttonColor: #4caf50; // Button green
$inputBackground: #d8c4c4; // Light gray for input background
$inputBorder: rgb(61, 217, 0); // Greenish border color for input

// simply  reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Ustawienia globalne */
html,
body {
  height: 100vh;
  background-color: $greenColor;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  background-color: $backgroundColor;
  border-radius: 20px;
  padding: 20px 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 54px -12px rgba(66, 68, 90, 1);
}
h1 {
  font-weight: 900;
  font-size: 50px;
  color: $textColor;
}
.slogan {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 16px;
  color: rgb(20, 121, 11);
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  background-color: $inputBackground;
  border: none;
  // margin-bottom: 20px;
  width: 350px;
}
input::placeholder {
  color: rgb(165, 152, 157);
  font-family: monospace;
  font-size: 12px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:hover {
  color: #4caf50;
}
.add_circle-modifier {
  font-size: 40px;
}

.error-msg {
  background-color: $greenColor;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  margin-top: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.task-list {
  width: 350px;
  margin-top: 20px;
  // border: 1px solid #6f1010;
}
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background-color: #9cb0a0;
  border-radius: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: -3px 0px 8px 0px rgba(66, 68, 90, 1);
}

.remove-task {
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  padding: 5px;
}

.remove-task:hover {
  background-color: rgb(165, 152, 157);
}
